
table {
  width: 1500px;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: #f9f9f9;
}

.tiptap {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 600px;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.edbtn{
  display: flex;
  border: solid 1px;
  border-radius: 5px;
  border-color: gray;
}
.edbtn button{
  color: grey;
}
.edbtn button:hover {
    background-color: #2563EB;
    color: white;
}
.edbtn button.is-active {
    background-color: #2563EB; 
    color: white; 
    border-color: #2563EB;
}

.main34{
  border: solid 0.5px;
  width: 500px;
  border-radius: 5px;
  border-color: rgb(163, 162, 162);
  margin-bottom: 5px;
  color: rgb(163, 162, 162);
}

.topbtn button{
  border: solid 1px;
  margin-right: 5px;
  width: 200px;
  transition: background-color 0.3s, color 0.3s;
}

.topbtn button:hover{
  background-color: #1D87FF;
  color: #fff;
}

.topbtn{
  margin-left: 5px;
  border-color: rgb(163, 162, 162);
  width: 200px;
 
}

.topbtn:hover{
  background-color: #1D87FF;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.topinput {
  display: flex;
  align-items: center; 
  margin-bottom: 12px; 
}

.topinput label {
  
  width: 90px;      
  height: 38px;     
  flex-shrink: 0;  

  background-color: #4A5568; 
  border: 1px solid #718096;      
  border-radius: 5px;          
  border: none;
  

  color: white;               
  font-weight: bold;           
  font-size: 14px;            
  
  display: flex;
  justify-content: center;
  align-items: center;  


  margin-right: 10px; 
}

.topinput input, .topinput select {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    width: 900px;
}

.main33, .main34 {
    width: 300px; 
}

.main34 {
    text-align: left; 
    background-color: white;
}

.btnbtn{
  margin-bottom: 10px;
  text-align: center;
}