
table {
  width: 1500px;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: #f9f9f9;
}

.arrbtn {
   width: 150px;
   border: solid 1px;
}

.arrbtn1{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.status {
    /* height: 28px; */
    width: 5%;
    border-radius: 10px;
    text-align: center;
    display: inline-block; 
    min-width: 50px;       
    font-size: 12px;      
    padding: 2px 6px;     
    color: rgb(255, 255, 255);  
    background-color: #FF8E1D;
    /* margin-top: 5px */

}
.status-waiting {
    background-color: #FF8E1D;
}

.status-completed {
    background-color: #1D87FF; 
       
}

.status-rejected {
    background-color: #FF301D;
}

