
table {
  width: 1500px;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: #f9f9f9;
}

.arrbtn {
   width: 150px;
   border: solid 1px;
}

.arrbtn1{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.tiptap {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 300px;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}